@model IEnumerable<GigHub.Models.Gig>

@{
    ViewBag.Title = "Upcoming Gigs";

    if (Model.Any())
    {
        <br />
        <h3>Upcoming Gigs</h3>
        <br />
        <table class="table table-striped">
            <tr>
                <th>Artist</th>
                <th>Date</th>
                <th>Venue</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Artist.Name</td>
                    <td>@item.DateTime</td>
                    <td>@item.Venue</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No upcoming gigs to display</p>
    }
}

